<div class="container dashboard_container">
  <div class="col-sm-4 col-xs-6 dash_left">
    <div class="news">
      <div class="headline news_title">
        YCombinator: Hacker News
      </div>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
      <a href="#" class="news_link">
        <div class="headline">Atlantic.net launches $0.99 SSD-based VPS servers</div>
      </a>
    </div>
  </div>
  <div class="col-sm-8 col-xs-5 dash_right">
    <div class="repos">
      <!-- <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
      </div> -->
      <% counter = 0 %>
      <div class="row"> 
      <% @repos.each do |repo| %>
        <% if counter < 3 %>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title col-xs-12">jquery/jquery.js</div>
              <div class="repo_details col-xs-12">
                <div class="forks col-xs-4">
                  <span class="octicon octicon-repo-forked"></span>
                  <span class="number">1235</span>
                </div>
                <div class="contributors col-xs-4">
                  <span class="octicon octicon-organization"></span>
                  <span class="number">198</span>
                </div>
                <div class="stars col-xs-4">
                  <span class="octicon octicon-star"></span>
                  <span class="number">8212</span>
                </div>
              </div>
              <div class="repo_description col-xs-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat optio, quia, fugit voluptate sint itaque dolorem sequi unde quibusdam repellendus, eum tempore, ad obcaecati illo consequatur similique provident expedita.
              </div>
            </div>
          </a>
        </div>
        <% counter++ #increment counter%>
        <% else %>
      </div> <!-- close row -->
      <div class="row"> <!-- start new row -->
          <% counter = 0 #reset counter %>
        <% end #end if/else%>
      <% end #end each %>
      </div>
      <!-- <div class="row">
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title">jquery/jquery.js</div>
            </div>
          </a>
        </div>
        <div class="repo col-sm-4">
          <img src="http://placebear.com/350/350" alt="">
          <a href="#">
            <div class="repo_cover">
              <div class="repo_title col-xs-12">jquery/jquery.js</div>
              <div class="repo_details col-xs-12">
                <div class="forks col-xs-4">
                  <span class="octicon octicon-repo-forked"></span>
                  <span class="number">1235</span>
                </div>
                <div class="contributors col-xs-4">
                  <span class="octicon octicon-organization"></span>
                  <span class="number">198</span>
                </div>
                <div class="stars col-xs-4">
                  <span class="octicon octicon-star"></span>
                  <span class="number">8212</span>
                </div>
              </div>
              <div class="repo_description col-xs-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat optio, quia, fugit voluptate sint itaque dolorem sequi unde quibusdam repellendus, eum tempore, ad obcaecati illo consequatur similique provident expedita.
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>